@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

* {
    font-family: 'Fjalla One';
}

.loader {
    display: flex;
    width: 160px;
    height: 160px;
    align-self: center;
}

.loader:after {
    content: " ";
    display: flex;
    align-self: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 12px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
      
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  

.buttonstyle {
    background: url('./search2.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 3.3em;
}

.input {
    width: 30em;
    padding: 1em;
}

.header {
    color: white;
    padding-top: 1em;
    font-size: 3em;
}

.imagecredit {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 0.5em;
    padding: 0.5em;
}

.weatherinformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7em;
}

.weathericonandtemp {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weathersubinformation {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.alignitems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.formdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cityname {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.mainweather {
    font-size: 4.4em;
    cursor: pointer;
}

.sizebigimage {
    height: 8em;
}

.sizeimage {
    height: 2em;
}

.box {
    display: flex;
    justify-content: center;
}

.formstyle {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.weatherstyle {
    border-radius: 5em;
    height: 25em;
    width: 30em;
    padding: 1em;
}

.daytime {
    background: url('./day.jpg');
    background-position: -0.2em;
    background-size: cover;
    color: black;
}

.nighttime {
    background: url('./night.jpg');
    background-position: 0.1em;
    background-size: cover;
    color: white;
}

@media only screen and (min-device-width:320px) and (max-device-width: 480px) {
    .buttonstyle {
        background: url('./search2.png');
        background-size: cover;
        border: none;
        cursor: pointer;
        width: 4em;
    }

    .input {
        width: 18em;
        padding: 1em;
    }

    .formstyle {
        display: flex;
        justify-content: center;
        padding: 0.7em;
    }

    .containerstyle {
        display: flex;
        flex-direction: column;
        padding: 1em;
        border-radius: 2em;
    }

    .header {
        padding-top: 0.6em;
        font-size: 2.5em;
    }

    .weatherstyle {
        display: flex;
        flex-direction: column;
        border-radius: 3.5em;
        padding: 0.7em;
        height: 24em;
        width: 21em;
    }
    
    .imagecredit {
        display: flex;
        justify-content: center;
        color: grey;
        font-size: 0.5em;
        padding: 0.5em;
    }

    .loader {
        display: flex;
        width: 160px;
        height: 160px;
        align-self: center;
    }
    
    .loader:after {
        content: " ";
        display: flex;
        align-self: center;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        border: 12px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}