.buttonstyle {
    background: url('./search.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
}

.formstyle {
    display: flex;
}

.daytime {
    background-color: rgba(254, 234, 165, 0.6)
}

.nighttime {
    background-color: rgba(0, 109, 178, 0.5)
}